// Z-Index
//
// Styleguide 6.6

.zindex--0 {
  z-index: $zindex--0;
}

.zindex--1 {
  z-index: $zindex--1;
}

.zindex--2 {
  z-index: $zindex--2;
}

.zindex--3 {
  z-index: $zindex--3;
}

.zindex--4 {
  z-index: $zindex--4;
}

.zindex--5 {
  z-index: $zindex--5;
}

.zindex--6 {
  z-index: $zindex--6;
}

.zindex--7 {
  z-index: $zindex--7;
}

.zindex--8 {
  z-index: $zindex--8;
}
