/////////////////
// Typography //
///////////////


html {
  font-size: 80%;
  @if $baseline-grid == true {
    &.is-lineHeight {
      background-image: url(http://basehold.it/i/24);
    }
  }
  @include mq(tablet) {
    font-size: 90%;
    @if $baseline-grid == true {
      &.is-lineHeight {
        background-image: url(http://basehold.it/i/27);
      }
    }
  }
  @include mq(desktop) {
    font-size: 100%;
    @if $baseline-grid == true {
      &.is-lineHeight {
        background-image: url(http://basehold.it/i/30);
      }
    }
  }
}

body {
  line-height: $base__line-height;
  font-family: $font-family--primary;
  font-size: $text-size;
  color: $base__font-color;
}

// Resets margins
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  margin-bottom: $spacing;
  max-width: rem(800px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading--font-family;
  font-weight: $heading--font-weight;
  line-height: $heading--line-height;
}

h1,
.h1 {
  font-size: $text-size--mega;
}

h2,
.h2 {
  font-size: $text-size--giant;
}

h3,
.h3 {
  font-size: $text-size--xxlarge;
}

h4,
.h4 {
  font-size: $text-size--xlarge;
}

h5,
.h5 {
  font-size: $text-size--large;
}

h6,
.h6 {
  font-size: $text-size--big;
}
