.hero {
  position: relative;
  margin-bottom: $spacing;
  padding: $spacing--small;

  @include mq(tablet) {
    position: relative;
    display: flex;
    overflow-x: hidden;
    flex-direction: row;
    min-height: 100vh;
    text-align: left;

    align-items: stretch;
    justify-content: flex-end;
  }

  h2 {
    color: $color--purple;
  }
  &__content {
    position: absolute;
    z-index: 200;
    top: 20%;
    width: 75%;
    padding: $spacing;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background: $color--white;

    align-items: center;
    @include mq(tablet) {
      position: relative;
      top: -5px;
      display: flex;
      width: 50%;
      height: 97vh;
      margin: 0 auto;

      align-self: center;
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
  &__image {
    position: relative;
    overflow: hidden;
    height: 97vh;

    @include mq(tablet) {
      width: 50%;
      border-radius: 0;

      flex-grow: 0;
      flex-shrink: 0;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;

      object-position: right;
      object-fit: cover;
      object-position: center;
    }
  }

  .header__actions {
    a {
      display: block;
      display: block;
      float: left;
      margin: 0 $spacing--small 0 0;
      padding: 0;
      text-align: left;
      color: $color--teal;
      border: none;
      border-radius: 0;
      font-weight: 400;
      font-size: $text-size;
      border-bottom: $border-width solid $color--teal;


      &:hover {
        color: darken($color--teal, 10%);
        border-color: darken($color--teal, 10%);
      }
    }


    svg {
      position: relative;
      top: -1px;
      width: 0.6rem;
      height: 0.6rem;

      fill: $color--teal;

      &:hover {
        fill: darken($color--teal, 10%);
      }
    }
  }
}
