#audio-element--container {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 3rem;
  width: 100%;
}

#audio-element {
  //width: 200px;
  background-color: rgba(100,100,100, 0.0);
  height: 600px;
  margin: 0 auto;

  * {
    outline: none;
  }
}

#wave-form-sphere {
  position: relative;
  top: 50%;
  bottom: 0;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 0;
  padding-bottom: 25%;
  border-radius: 50%;
  text-align: center;
  transition: all 1s ease;

  .bg-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  #img-first {
    background: url(/audio_component/dist/img/img--ear.jpg);
  }

  #img-second {
    opacity: 0;
    background: url(/audio_component/dist/img/img--mouth.jpg);
  }

  &:before {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: .6;
  }

  #audio-element--button-init {
    border: none;
    background: none;
    color: #fff;
    position: absolute;
    z-index: 200;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
    transition: color .3s;

    &:hover {
      color: pink;
    }
  }
}

#wave-form-sphere.grow {
  width: 50%;
  padding-bottom: 50%;
}


#waveform-player {
  position: absolute;
  z-index: 400;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



#controls-container {

  * {
    outline: none;
  }

  .controls {
    background-color: transparent;
    border: none;
  }

  #controls-play {
    width: 54px;
    height: 71px;
    background-image: url(/audio_component/dist/img/play.svg);
  }

  #controls-play.pause {
    width: 54px;
    height: 69px;
    background-image: url(/audio_component/dist/img/pause.svg);
  }
}


#controls-expander {
  position: absolute;
  width: 200px;
  top: -40px;
  transform: translateX(-50%);
  text-align: center;
}

#controls-minimizer {
  width: 30px;
  height: 30px;
  float: right;
  border: 1px solid black;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

