#audio-element--container {
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

#audio-element {
  position: absolute;
  top: 0;
  width: 0;
  background-color: rgba(100,100,100, 0.0);
  height: 600px;
  margin: 0 auto;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  z-index: 999;

  * {
    outline: none;
  }
}

#wave-form-sphere{
  top: 45%;
  transform: translate(-50%, -50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  width:200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background: url('/audio_component/dist/img/img--ear.jpg') no-repeat;
  z-index: 9999;


  &:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background: url("/audio_component/dist/img/img--mouth.jpg")
  }

  &:before {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: .6;
  }

  #audio-element--button-init {
    border: none;
    background: none;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:0;
    right:0;
    margin: 0 auto;
    cursor: pointer;
    transition: color 1s;

    &:hover {
      color: pink;
    }
  }
}

#waveform-player {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



#controls-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -80px;

  .controls {
    background-color: transparent;
    border: none;
  }

  #controls-play {
    width: 54px;
    height: 71px;
    background-image: url(https://storage.googleapis.com/audio_component/static/img/play.svg);
  }

  #controls-play.pause {
    width: 54px;
    height: 69px;
    background-image: url(https://storage.googleapis.com/audio_component/static/img/pause.svg);
  }
}


#controls-expander {
  position: absolute;
  width: 200px;
  top: -40px;
  transform: translateX(-50%);
  text-align: center;
}

#controls-minimizer {
  width: 30px;
  height: 30px;
  float: right;
  border: 1px solid black;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

